body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

main {
  width: 100%;
  background-color: white;
  margin-left: 110px;
  margin-top: 90px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
