.globalContainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 105px;
}

.welcome {
  font-size: 48px;
  font-weight: 500;
}

.greetingsText {
  font-size: 18px;
}

.firstName {
  color: #ff0101;
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 1124px;
  gap: 10px;
}

.charts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 835px;
}

.nutritionContainer {
  max-width: 258px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallCharts {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.dailyChart {
  background-color: #FBFBFB;
  border-radius: 5px;
  padding: 70px 35px 25px;
}

.dailyTitle {
  position: absolute;
  margin-left: 32px;
  margin-top: 24px;
  font-size: 15px;
  color: #20253A;
}

.durationChart {
  background-color: #ff0101;
  border-radius: 5px;
  width: 31%;
  height: fit-content;
  max-width: 260px;
}

.performanceChart {
  background-color: #282D30;
  border-radius: 5px;
  width: 31%;
  height: fit-content;
  max-width: 260px;
}

.scoreChart {
  background-color: #FBFBFB;
  border-radius: 5px;
  width: 31%;
  height: fit-content;
  max-width: 260px;
}

@media(max-width: 1280px) {
  .globalContainer {
    padding-left: 60px;
  }

  .metrics {
    max-width: 1050px;
  }

  .dailyChart {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 680px;
  }

  .charts {
    max-width: 670px;
  }

  .smallCharts {
    gap: 25px;
  }

  .nutritionContainer {
    align-items: flex-end;
  }
}

@media (max-width: 1060px) {
  .charts {
    max-width: 620px;
  }

  .globalContainer {
    padding-top: 0;
  }
}
