.container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 105px;
}
.welcome {
  font-size: 48px;
  font-weight: 500;
}

.greetingsText {
  font-size: 18px;
}
.firstName {
  color: #ff0101;
}
