.container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 105px;
}
.welcome {
  font-size: 48px;
  font-weight: 500;
}

.greetingsText {
  font-size: 18px;
}
.firstName {
  color: #ff0101;
}

.metrics {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.charts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 835px;
}

.nutritionContainer {
  flex-grow: 1;
}

.smallCharts {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.dailyChart {
  margin-top: 60px;
  background-color: #FBFBFB;
  border-radius: 5px;
  padding: 70px 60px 25px;

}

.dailyTitle {
  position: absolute;
  margin-top: 85px;
  margin-left: 32px;
  font-size: 15px;
  color: #20253A;
}

.durationChart {
  background-color: #ff0101;
  border-radius: 5px;
  width: 31%;
  height: fit-content;
  max-width: 260px;
}

.performanceChart {
  background-color: #282D30;
  border-radius: 5px;
  width:31%;
  height: fit-content;
  max-width: 260px;
}

.scoreChart {
  background-color: #FBFBFB;
  border-radius: 5px;
  width: 31%;
  height: fit-content;
  max-width: 260px;
}

@media(max-width: 1200px) {
  .container {
    padding-left: 60px;
  }

  .dailyChart {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 680px;
  }

  .charts {
    max-width: 680px;
  }

  .smallCharts {
    gap: 25px;
  }
}
