.header {
  display: flex;
  background-color: #020203;
  align-items: center;
  padding: 15px 15px 15px 25px;
  justify-content: space-around;
}

.nav {
  width: 70%;
  margin: auto;
}

.navList {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  margin-top: 8px;
  margin-left: 8px;
}

.navLink {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
