.header {
  display: flex;
  background-color: #020203;
  max-height: 91px;
  max-width: 1440px;
  align-items: center;
  margin: auto;
}

.nav {
  width: 100%;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.logo-text {
  margin-top: 8px;
}

.navLink {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
